In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
#StandardScaler is used to standardize the data to a common scale.
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [2]:
data=pd.read_csv('/content/diabetes.csv')

In [3]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
data.shape

(768, 9)

In [6]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [8]:
data['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [9]:
#0 --> NON-DIABETIC
#1 --> DIABETIC

In [10]:
data.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [11]:
X=data.drop(columns='Outcome',axis=1)
#dropping outcome column above.
Y=data['Outcome']

In [12]:
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [13]:
Y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [14]:
#DATA STANDARDIZATION

In [15]:
scaler=StandardScaler()

In [16]:
#taking one instance of standard scaler function.

In [17]:
scaler.fit(X)

StandardScaler()

In [18]:
standardized_data=scaler.transform(X)
#fitting all inconsistent data in the standard scaler function 
#[DONE IN PREVIOUS CELL]
#and based on that standardization we are transforming all the data to a 
#common range.
#ALL THE DATA VALUES WERE IN DIFFERENT RANGE SO WE STANDARDIZED THE DATA
#TO KEEP THE VALUES IN A COMMON RANGE.

In [19]:
print(standardized_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [20]:
X=standardized_data
Y=data['Outcome']

In [21]:
#X REPRESENTS THE DATA
#Y REPRESENTS THE MODEL.

In [22]:
X

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [23]:
Y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [24]:
#TRAIN TEST SPLIT

In [25]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [26]:
print(X.shape,X_train.shape,X_test.shape)

(768, 8) (614, 8) (154, 8)

In [27]:
#TRAINING THE MODEL

In [28]:
classifier=svm.SVC(kernel='linear') #using linear model

In [29]:
#training the svm classifier

In [30]:
classifier.fit(X_train,Y_train)

SVC(kernel='linear')

In [31]:
#MODEL EVALUATION

In [32]:
#FINDING ACCURACY SCORE

In [34]:
#ACCURACY SCORE ON TRAINING DATA
X_train_prediction=classifier.predict(X_train)
#above line predicts for all x_train values

In [35]:
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)

In [36]:
print('ACCURACY SCORE OF TRAINING DATA: ',training_data_accuracy)

ACCURACY SCORE OF TRAINING DATA:  0.7866449511400652

In [37]:
#ACCURACY SCORE ON TEST DATA
X_test_prediction=classifier.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction,Y_test)

In [38]:
#CHECKING ACCURACY OF PREDICTION OF MODEL WITH THAT OF ACTUAL RESULTS.

In [39]:
print('ACCURACY SCORE OF TEST DATA: ',test_data_accuracy)

ACCURACY SCORE OF TEST DATA:  0.7727272727272727

In [40]:
#MAKING A PREDICTIVE SYSTEM

In [41]:
input_data=(4,110,92,0,0,37.6,0.191,30)
#CHANGING THE INPUT_DATA TO NUMPY ARRAY.
input_data_as_numpy_array=np.asarray(input_data)
#RESHAPING THE ARRAY AS WE ARE PREDICTING FOR ONE INSTANCE.
input_data_reshaped=input_data_as_numpy_array.reshape(1,-1)
#WHILE TRAINING THE MODEL WE STANDARDIZED THE DATA SO WE NEED 
#TO DO THE SAME HERE ALSO.
std_data=scaler.transform(input_data_reshaped)
print(std_data)

[[ 0.04601433 -0.34096773  1.18359575 -1.28821221 -0.69289057  0.71168975
  -0.84827977 -0.27575966]]

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [42]:
prediction=classifier.predict(std_data)
print(prediction)

[0]

In [43]:
if (prediction[0] == 0):
  print('THE PERSON IS NON-DIABETIC.')
else:
  print('THE PERSON IS DIABETIC.')

THE PERSON IS NON-DIABETIC.

In [46]:
input_data=(5,166,72,19,175,25.8,0.587,51)
#CHANGING THE INPUT_DATA TO NUMPY ARRAY.
input_data_as_numpy_array=np.asarray(input_data)
#RESHAPING THE ARRAY AS WE ARE PREDICTING FOR ONE INSTANCE.
input_data_reshaped=input_data_as_numpy_array.reshape(1,-1)
#WHILE TRAINING THE MODEL WE STANDARDIZED THE DATA SO WE NEED 
#TO DO THE SAME HERE ALSO.
std_data=scaler.transform(input_data_reshaped)
print(std_data)
prediction=classifier.predict(std_data)
print(prediction)
if (prediction[0] == 0):
  print('THE PERSON IS NON-DIABETIC.')
else:
  print('THE PERSON IS DIABETIC.')

[[ 0.3429808   1.41167241  0.14964075 -0.09637905  0.82661621 -0.78595734
   0.34768723  1.51108316]]
[1]
THE PERSON IS DIABETIC.

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [48]:
#THE MODEL GIVES CORRECT PREDICTION FOR THE INPUT_DATA CONSIDERED ABOVE.